# Node.js dependencies
node_modules/

# Build output
dist/
.parcel-cache/

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env

# Mac system files
.DS_Store

# Temporary files
*.tmp
*.swp

# Ignore editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
